.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body, html {
  background: white;
}
    
a, img {
  outline:none;
}

.bg {
  margin-top: -100px;
  background-image: url(/i/bg.png);
  background-repeat: no-repeat;
  background-color: white;
  height: 2000px;
  width: 110%;
  position:fixed;
  z-index: 1;
}
.bg h1 {  
  text-indent: -1000px; 
}
.tagline {
  position:relative;
  font-size: 10px;
  width: 110px;
  line-height: 14px;
  letter-spacing: 0px;
  text-transform: none;
  text-align: center;
  font-weight: 100;
  color: #444;
  left: 59px;
  top: 670px;
  z-index: 4;
}
.tagline a {
  color: #444;
}
.tagline .mailer {
  z-index: 5;
}
.tagline a, .tagline a:visited {
  color:#666;
}
.tagline a:hover, .tagline a:active {
  color:#222;
}

section{
  z-index:10;
  position:relative;
}
.content {
  top: 0;
  left: 0;
  margin-left:222px;
  padding-top:226px;
}
#projects,
#about {
  display:none;
  margin-left:222px;
}
#about {
  padding-top:226px;
}
#projects {
  padding-top: 106px;
}
  

body.chrome .content {
  padding-top: 221px;
}

.content .blog, .content .tweets, .content .about {
  line-height:74px;
  height: 74px;
}
.fat_link a {
  text-decoration: none;
  outline: none;
  letter-spacing: -8px;
  text-transform:uppercase;
  font-size: 72px;
  font-weight:bold;
}
#about {
  padding-top: 100px;
}

#about .links .link {
  float: left;
  margin-left: 10px;
  height: 32px;
  line-height: 32px;
  letter-spacing: -1px;
}
#about .links .link.first {
  margin-left: 0;
}

#about .links {
  clear: both;
  height: 42px;
}
#about .fat_link.back {
  margin-left: 0;
}
#about .words {
  line-height: 26px;
  width: 500px;
  text-align: justify;
  letter-spacing: 1px;
}
  
#projects.link {
  clear:both;
}
#projects .row {
  width: 850px;
  clear: right;
  margin-bottom: 10px;
}
#projects > .link {
  margin-bottom: 20px;
}
  
.project {
  margin: 0 10px 10px;
  width: 400px;
  float: left;
  background: white;
  border-radius:8px;
  border:1px solid #ccc;
  -webkit-border-radius:8px;
  -moz-border-radius: 8px;
}
.project:first-child {
  margin-left: 0px;
}
.project:last-child {
  margin-right: 0px;
}
.project h3 {
  margin-top: 0;
  font-size: 18px;
  padding: 8px 0;
  font-weight: 100;
  text-align:center;
  background: #eee;
  border-top-right-radius:9px;
  -moz-border-radius-topright:9px;
  -webkit-border-top-right-radius:9px;
  border-top-left-radius:9px;
  -moz-border-radius-topleft:9px;
  -webkit-border-top-left-radius:9px;
}
.project h3 a {
  text-decoration: none;
}
.project h3 a:hover {
  text-decoration: underline;
}

.project .description {
  width: 350px;
  margin: 10px auto 20px;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}

a, a:visited {
  color:#222;
}
a:hover, a:active {
  color:#666;
}


;
}

.project:first-child {
  margin-left: 0;
}
.project:last-child {
  margin-right: 0;
}
.project .thumb {
  width: 350px;
  margin: 0 auto;
  padding:0;
}